<div class="flex h-screen overflow-hidden mx-5">
    <div class="grid grid-cols-3 gap-3 m-auto">
        <div class="bg-black h-2/3">
		    <div class="border rounded-md border-sky-300 bg-sky-500 hover:shadow-sky-300">
                <h1>Главная</h1>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.</p>
            </div>
        </div>
        <div class="bg-black h-[50vh]">
            <div class="border rounded-md border-sky-300 bg-sky-500 hover:shadow-sky-300">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </div>
        </div>
        <div class="bg-black h-[50vh]">
            <div class="border rounded-md border-sky-300 bg-sky-500 hover:shadow-sky-300">
                <h5 class="card-title">Panel title</h5>
                <p>This card has supporting text below as a natural lead-in to additional content.</p>
                <p><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>